<h1> Eat Da Burger!</h1>

<h2>List of burgers to eat!</h2>

<ul>
    {{#each burgers}}
        {{#unless this.devour}}
            <li>
                {{this.id}}
                {{this.burger_name}}
                
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="btn-primary" type="submit"> Devour It!</button>
                </form>
            </li>
        
</ul>

<h2> Add a burger!</h2>
<form class="create-update-form" action=/"/" method="POST">
    <div class="form-group">
        <p>Enter a burger you want to order and click the submit order button. </p>
        <input type="text" id="ca" name="burger_name">
    </div>
    <button class="btn-primary" type="submit">Submit Order</button>
</form>
